<!DOCTYPE html>
<html lang="en-us" ng-app="ngCaptionHover">
<head>
    <meta charset="UTF-8">
    <title>Ng-caption-hover by telvin</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">


    <link rel="stylesheet" type="text/css" href="dist/ng-caption-hover.min.css" media="screen">
    <script src="bower_components/jquery/dist/jquery.min.js" data-semver="2.2.4"></script>
    <script data-require="angular.min.js@1.5.x" src="bower_components/angular/angular.min.js"
            data-semver="1.5.8"></script>
    <script src="dist/ng-caption-hover.min.js"></script>
    <script src="demo/app.js"></script>

</head>
<body ng-controller="demoCtrl">
<section class="page-header">
    <h1 class="project-name">Ng-caption-hover</h1>
    <h2 class="project-tagline"></h2>
    <a href="https://github.com/telvin/ng-caption-hover" class="btn">View on GitHub</a>
    <a href="https://github.com/telvin/ng-caption-hover/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/telvin/ng-caption-hover/tarball/master" class="btn">Download .tar.gz</a>
</section>

<section class="main-content">
    <h2>About</h2>
    <p>This module will make add a caption along with a hover effect with a custom template using jQuery and
        Angular.</p>

    <h3>Image</h3>

    <p>Hover on the element to see the result</p>

    <div ng-caption-hover-root>
        <div ng-caption-hover-content>
            <img src="demo/sample.jpg">
        </div>

        <div ng-caption-hover-caption>
            <p>When you hover on this, you see me</p>
        </div>
    </div>

    <h3>Paragraph</h3>

    <div ng-caption-hover-root ng-if="dummyText">
        <div ng-caption-hover-content>
            <span>{{dummyText}}</span>
        </div>

        <div ng-caption-hover-caption>
            <p>When you hover this element, you see me</p>
        </div>
    </div>

    <h3>List</h3>
    <div class="row">
        <div class="col-md-3 text-center" ng-repeat="item in [1,2,3,4] track by $index">
            <div ng-caption-hover-root>
                <div ng-caption-hover-content>
                    <img src="demo/sample.jpg">
                </div>

                <div ng-caption-hover-caption>
                    <p>When you hover on this, you see me. I'm {{$index+1}}</p>
                </div>
            </div>
        </div>
    </div>


    <h2>Get Started</h2>
    <p>Get the package:</p>
    <pre>bower install ng-caption-hover</pre>

    <p>Add the script tags:</p>
    <pre>

        &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;dist/ng-caption-hover.min.css&quot; media=&quot;screen&quot;&gt;
        &lt;script src=&quot;bower_components/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;bower_components/angular/angular.min.js&quot;&gt;&lt;/script&gt;
         &lt;script src=&quot;dist/ng-caption-hover.min.js&quot;&gt;&lt;/script&gt;
    </pre>

    <p>Then add the module to your app:</p>
    <pre>
        angular.module('yourApp', ['ng-caption-hover']);
    </pre>

    <h2>Usage</h2>
    <pre>
        &lt;<b>div ng-caption-hover-root</b>&gt;
            &lt;div <b>ng-caption-hover-content</b>&gt;
                We put the visible content into here.
                When user hovers on this area, the caption would show.
            &lt;/div&gt;

            &lt;div <b>ng-caption-hover-caption</b>&gt;
                We put the body of the hover caption into here.
            &lt;/div&gt;
        &lt;/div&gt;
    </pre>


    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/telvin/ng-caption-hover">Ng-caption-hover</a> is maintained by <a
                href="https://github.com/telvin">telvin
        </a>.</span>
    </footer>

</section>


</body>
</html>
